{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}
{% blocktrans %}Map{% endblocktrans %}
{% endblock %}

{% block header %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'map' %}

<script>
  document.addEventListener("DOMContentLoaded", function domReady() {
    let mapViewPage = new MapViewPage({
      mapViewContainerId: 'mapContainer',
      aURL: "{% url 'participant_JSON' settings.A %}",
      bURL: "{% url 'participant_JSON' settings.B %}",
      aListURL: "{% url 'participant_list' settings.A 'COUNTRYCODE' 'PLZ' 0 %}",
      bListURL: "{% url 'participant_list' settings.B 'COUNTRYCODE' 'PLZ' 0 %}",
      tileURL: "{{ tileserverurl }}",
      tileServer:  "{{ tileserver }}",
      mapAttribution: `{{ attribution |safe }}`,
      createPopupTextA : (countrycode,city, plz, count, url) => `{% blocktrans %}In ${city}, (PLZ ${plz}) there are ${count} As.\n<a href="${url}" target="_blank">Detail</a>{% endblocktrans %}`,
      createPopupTextB : (countrycode,city, plz, count, url) => `{% blocktrans %}In ${city}, (PLZ ${plz}) there are ${count} Bs.\n<a href="${url}" target="_blank">Detail</a>{% endblocktrans %}`,
      createBCountText: (count) => `<img src="{% static 'img/map/b-marker.svg' %}"> ${count} {% trans "Bs" %}`,
      createACountText: (count) => `<img src="{% static 'img/map/a-marker.svg' %}"> ${count} {% trans "As" %}`,
    })

    mapViewPage.initializeMap()
    mapViewPage.loadMapMarkers()
    mapViewPage.registerEventHandlers(window)

  })
</script>

{% endblock %}

{% block content %}
  {% if user.is_authenticated and user.is_hospital %}
<nav class="navbar navbar-expand-sm navbar-dark bg-light search-map" id="hospital_navbar">
  <div class="container">
    <div class="order-0">
      <select name="countrycode" id="countrycode" class="map-dropdown">
        <option value="DE">{% blocktrans %}Germany{% endblocktrans %}</option>
        <option value="AT">{% blocktrans %}Austria{% endblocktrans %}</option>
      </select>
      <input type="text" id="search" class="form textinput textInput map-input" placeholder="Postleitzahl">
      <button class="btn btn-primary btn blue text-white btn-md" role="button" onclick="gototable()">{% blocktrans %}Direct Search{% endblocktrans %} &raquo;</button>
    </div>
  </div>
</nav>
{% endif %}

{% if tileserver == "mapbox" %}
<div id="mapContainer" style="z-index:1;">
	 <a href="http://mapbox.com/about/maps" class="mapbox-wordmark" target="_blank">Mapbox</a>
</div>
{% else %}
<div id="mapContainer" style="z-index:1;"></div>
{% endif %}
{% endblock %}
