# Django secret key
SECRET_KEY=
# Sendgrid API key
SENDGRID_API_KEY=
# Slack Logging Webhook
SLACK_LOG_WEBHOOK=

# MAP
# Mapview Backend ('open_street_map', 'mapbox', 'custom_tile_url')
LEAFLET_TILESERVER=
# Token from mapbox.com to get Open Street Map tiles (only needs to be set if tileserver used is 'mapbox')
MAPBOX_TOKEN=
# Url for a custom tile server (only needs to be set if tileserver used is 'custom_tile_url')
# format needs to include coordinates formatted as "{x}", "{y}", "{z}"
TILE_SERVER_URL=
