# Django secret key
SECRET_KEY=
# Sendgrid API key
SENDGRID_API_KEY=
# Slack Logging Webhook
SLACK_LOG_WEBHOOK=
# Mapview Backend ('open_street_map' or 'mapbox')
MAPVIEW_BACKEND=
# Token from mapbox.com to get Open Street Map tiles (only needs to be set if backend used is mapbox)
MAPBOX_TOKEN=
