{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Password set{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

<p>{% blocktrans %} Your password has been set. You can log in anytime.{% endblocktrans %}</p>
<a href="{{ login_url }}"><button type="submit" class="btn btn-secondary">Log in</button></a>

</div>
{% endblock %}
