{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Staff{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<hr>

<div class="container" style="margin-bottom:30px;">
   {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{% url 'logout' %}">{% blocktrans %}Log out{% endblocktrans %}</a>
        <a role="button" class="btn btn-primary text-white btn-md" href="{% url 'password_change' %}">{% blocktrans %}Change Password{% endblocktrans %}</a>
    </p>
    <hr>
    <h3>{% blocktrans %}Functions for staff members{% endblocktrans %}</h3>
    <hr>
    {% if perms.matching.can_approve_type_a and A_requires_approval %}
    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{%  url 'approve_participant' 'A' %}">
        <i class="fa fa-check" aria-hidden="true"></i>
        {% blocktrans %}Approve{% endblocktrans %} {{ settings.A_NAME }}</a>
    </p>
    {% endif %}
    {% if perms.matching.can_approve_type_b and B_requires_approval %}
    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{%  url 'approve_participant' 'B' %}">
        <i class="fa fa-check" aria-hidden="true"></i>
        {% blocktrans %}Approve{% endblocktrans %} {{ settings.B_NAME }}</a>
    </p>
    {% endif %}
    {% if perms.matching.can_change_mail_limit_a %}
    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{%  url 'mail_limit' 'A' %}">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        {% blocktrans %}Change mail limit for{% endblocktrans %} {{ settings.A_NAME }}</a>
    </p>
    {% endif %}
    {% if perms.matching.can_change_mail_limit_B %}
    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{%  url 'mail_limit' 'B' %}">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        {% blocktrans %}Change mail limit for{% endblocktrans %} {{ settings.B_NAME }}</a>
    </p>
    {% endif %}
    {% if perms.matching.can_send_newsletter %}
    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{% url 'staff_profile' %}">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        {% blocktrans %}Edit newsletter (Not implemented!){% endblocktrans %}</a>
    </p>
    {% endif %}
    {% if perms.matching.can_view_access_stats %}
    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{% url 'use_statistics:view' %}">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        {% blocktrans %}View website statistics{% endblocktrans %}</a>
    </p>
    {% endif %}
    {% if perms.matching.can_view_user_stats %}
    <p>
        <a role="button" class="btn btn-primary text-white btn-md" href="{% url 'staff_profile' %}">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
        {% blocktrans %}View user statistics (Not implemented!){% endblocktrans %}</a>
    </p>
    {% endif %}

</div>

{% endblock %}
