<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#mailModal{{ uuid }}">
    <i class="fa fa-envelope-o" aria-hidden="true"></i> {{ subject }}
</button>

<!-- The Modal -->
<div class="modal" id="mailModal{{ uuid }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="h3">{{ subject }}</p>
                <p>{{ message }}</p>
                <hr>
                Answer to this request:
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="uuid" value="{{ uuid }}">
                    <input class="form-control" type="text" name="subject" placeholder="Subject">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" name="message" id="exampleFormControlTextarea1"
                                  rows="3"></textarea>
                    </div>
                    <button type="submit" name="send_message" class="btn btn-primary mb-2 float-right">Share my email and send</button>
                </form>
            </div>
        </div>
    </div>
</div>
