  {{record.filter_name}}<a href="#" id="edit-name-{{ record.id }}" data-toggle="modal" data-target="#nameChangeModal{{ record.id }}">
Edit
</a>


<div class="modal fade" id="nameChangeModal{{ record.id }}" tabindex="-1" role="dialog" aria-labelledby="nameChangeModalLabel{{ record.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Give a meaningful name to your search
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
                {% csrf_token %}
          <div class="form-row align-items-center">
            <div class="col-auto">
              <div class="form-check mb-2">
                <label class="form-check-label" for="autoSizingCheck">
                    <input  type="hidden" name="uuid" value="{{ record.uuid }}">
                  <input class="form-control form-control" type="text" placeholder=".form-control-sm" name="filter_name" value="{{record.filter_name}}">
                </label>
              </div>
            </div>
              <div class="col-auto">
                  <div class="form-check mb-2">
               <button type="submit" class="btn btn-primary">Save</button>
                  </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
