{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Edit{% endblocktrans %}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div style="height:40px"></div>
    <div class="container" style="margin-bottom: 55px;">
        {% if messages %}


            {% for message in messages %}
                <div class="alert {{ message.tags }} fade show alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}

        {% endif %}
        <div class="row" style="margin-top:30px;">
            <div class="col-lg-10 col-sm-12 col-12">

                <form method="post">
                    {% csrf_token %}
                    {% crispy info_form info_form.helper %}
                <div class="card">
                    <div class="card-header"><h5>Your locations</h5></div>
                    <div class="card-body">
                    {{ location_formset.management_form }}
                    <div id="form_set">
                        {% for form in location_formset.forms %}
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                             {{form.non_field_errors }}
                            </div>
                            {% endif %}
                            <div class="form-row">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="form-group col-md-2 mb-0">
                            {{ form.country_code |as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                            {{ form.plz |as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                            {{ form.radius |as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0 align-middle">
                                {{ form.DELETE |as_crispy_field }}
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    <input type="button" class="btn btn-sm btn-outline-primary" value="Add another +" id="add_more">
                    <input type="button" class="btn btn-sm btn-outline-dark" value="Remove last -" id="remove_this">
                    <br>
                    <div id="empty_form" style="display:none">
                            <div class="form-row">
                            <div class="form-group col-md-2 mb-0">
                            {{ location_formset.empty_form.country_code |as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                            {{ location_formset.empty_form.plz |as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">

                            {{ location_formset.empty_form.radius |as_crispy_field }}

                            </div>
                            </div>
                    </div>
                </div>
                </div>
                <br>
                <input type="submit" class="btn btn-success float-right" value="Save">
                </form>
            </div>
        </div>

    </div>

    <!-- inspired from : https://simpleit.rocks/python/django/dynamic-add-form-with-add-button-in-django-modelformset-template/ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#remove_this').hide()
        $('#add_more').click(function () {
            var form_idx = $('#id_location-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_location-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            $('#remove_this').show()
        });

        $('#remove_this').click(function () {
            var form_idx = parseInt($('#id_location-TOTAL_FORMS').val());
            var initial_forms = parseInt($('#id_location-INITIAL_FORMS').val());
            if (form_idx === initial_forms +1 ){
            $('#form_set').children().last().remove();
            $('#id_location-TOTAL_FORMS').val(form_idx - 1);
            $('#remove_this').hide();}
            else if (form_idx > initial_forms + 1){
                $('#form_set').children().last().remove();
                $('#id_location-TOTAL_FORMS').val(form_idx - 1);
            }
        });
    </script>
{% endblock %}
