{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% blocktrans %}
        Your Profile {{ p_type }}
    {% endblocktrans %}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


    <div class="container">
        <br>
        <br>
        {% if messages %}


            {% for message in messages %}
                <div class="alert {{ message.tags }} fade show alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}

        {% endif %}

        <div class="card" style="margin-bottom:35px;">
            <div class="card-header">
                {% blocktrans %}Your Dashboard{% endblocktrans %}
            </div>
            <div class="card-body">
            {% if p_type == 'A' %}
            <a role="button" class="btn btn-primary text-white btn-lg" href="{% url 'participant_list' 'B' %}">{% blocktrans %}Start a new search for B's{% endblocktrans %}</a>
            <a href="{% url 'filter_list' 'B' %}">{% blocktrans %}My past searches for B's{% endblocktrans %}</a>
            {% elif p_type == 'B' %}
                            <a role="button" class="btn btn-primary text-white btn-lg" href="{% url 'participant_list' 'A' %}">{% blocktrans %}Start a new search for A's{% endblocktrans %}</a>
                <a href="{% url 'filter_list' 'A' %}">{% blocktrans %}My past searches for A's{% endblocktrans %}</a>
            {% endif %}
            <hr>
            <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'matches-requests-from-me' %}">{% blocktrans %}Requests to others{% endblocktrans %}</a>
            <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'matches-requests-to-me' %}">{% blocktrans %}Requests to me{% endblocktrans %}</a>


            </div>
        </div>



        <div class="card" style="margin-bottom:35px;">
            <div class="card-header">
                {% blocktrans %}Profile Details{% endblocktrans %}
            </div>
            <div class="card-body">
                <label for="email">{% blocktrans %}E-Mail{% endblocktrans %}:</label>
                <div class="">
                    <input type="text" id="email" name="email" value="{{ request.user.email }}" class="textinput textInput form-control" disabled="">
                    <small id="email_change_hint_text" class="form-text text-muted">{% blocktrans %}Your account is irreversibly linked to your email address. Should you wish to use another one, please delete your account and register with a new one.{% endblocktrans %}</small>
                </div> <br><br>
                <a role="button" class="btn blue text-white btn-md" href="{% url 'logout' %}">{% blocktrans %}
                    Logout{% endblocktrans %}</a>
                <a role="button" class="btn blue text-white btn-md" href="{% url 'password_change' %}">
                    {% blocktrans %}Change Password{% endblocktrans %}</a>
                <a role="button" class="btn btn-info" href="{% url 'delete_me_ask' %}">{% blocktrans %}Delete my
                    profile{% endblocktrans %}</a>
                <a role="button" class="btn btn-info" href="{% url 'activate_participant_ask' %}">
                    {% if participant.is_activated %}
                        {% blocktrans %}Deactivate Profile{% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Activate Profile{% endblocktrans %}
                    {% endif %}</a>
            </div>
        </div>

    <div class="card" style="margin-bottom:35px;">
            <div class="card-header">
                {% blocktrans %}Profile Editing{% endblocktrans %}
            </div>
            <div class="card-body">

                <a role="button" class="btn blue text-white btn-md" href="{% url 'info-edit' p_type uuid %}">{% blocktrans %}
                    Edit my profile{% endblocktrans %}</a>

            </div>
        </div>

    </div>
    </div>
    <br>
{% endblock %}
