
.filter-search-criteria {
    font-size:80%;

    h1 {
        font-size:1rem;
    }

    h2 {
        font-size:0.8rem;
    }

    input[type="text"], select {
        font-size:0.7rem;
    }

}
.filter-search-results {

    .vertically-separate-children > * {
        margin-bottom:0.4rem;
    }

}
