{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Über uns{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="height:40px"></div>
        <h1 style="text-align:center; font-weight: 300;">{% blocktrans %}We are the team of match4everyone! Muhahaha{% endblocktrans %}</h1>
        <hr>
        <p class="text-center">match4everyone is free4everyone</p>
        <div style="height:40px"></div>

        <!-- dev team -->
        <hr style="margin-bottom: 65px;">
        <p>
            <b>
                {% blocktrans %}Developed by Open Source Team{% endblocktrans %}
                <a href="https://github.com/match4everyone">match4everyone</a>
                {% blocktrans %}during th hackathon #wirvsvirus{% endblocktrans %}.
            </b>
        </p>
        <div class="row" style="margin-bottom:65px;">
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/andreas_kind.jpg' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Andreas Kind</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/freya_behrens.jpg' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Freya Behrens</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/sebastian_bischoff.jpg' %}" class="card-img-top" alt="..."
                         width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Sebastian Bischoff</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/bjarne_sievers.jpg' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Bjarne Sievers</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/jonathan_sauder.png' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Jonathan Sauder</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/malte_zacharias.jpg' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Malte Zacharias</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/kevin_yuan.png' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Kevin Yuan</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
