{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load cms_tags %}

{% block title %}
    Datenschutzerklärung
{% endblock %}

{% block header %}
    <script type="text/javascript">
        function decode(a) {
            return a.replace(/[a-zA-Z]/g, function (c) {
                return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                    ? c : c - 26);
            })
        };
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div style="height:40px"></div>
        <div class="impressum">
            <h1>{% placeholder "data protection title" %}</h1>
            <div class="row" style="margin-bottom: 55px;">
                <div class="col-md-12">
                    {% placeholder "data protection text" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
