{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load cms_tags %}

{% block title %}
    Impressum
{% endblock %}

{% block header %}
    <script type="text/javascript">
        function decode(a) {
            return a.replace(/[a-zA-Z]/g, function (c) {
                return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                    ? c : c - 26);
            })
        };
    </script>
{% endblock %}

{% block content %}


    <div class="container">
        <div style="height:40px"></div>
        <div class="impressum">
            <h1>Impressum</h1>
            <div class="row">
                <div class="col-md-4 m-1 p-3">
                    {% placeholder "imprint left column" %}
                </div>
                <div class="col-md-6 m-1 p-3">
                    {% placeholder "imprint text" %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
